{% extends 'app/base.html' %}

{% block content %}
    <div class="container-fluid" id="info-panel">
        <h2>Detalhes {{ process.name }}</h2>
        <hr class="section-sep">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ process.name }}</th>

            </tr>
            <tbody>
            <tr>
                <td><h5>PID</h5></td>
                <td>{{ process.pid }}</td>
            </tr>
            <tr>
                <td>Parent</td>
                <td>{{ process.parent.name }}</td>
            </tr>
            <tr>
                <td>Executavel</td>
                <td>{{ process.exe }}</td>
            </tr>
            <tr>
                <td>Usuário</td>
                <td>{{ process.user }}</td>
            </tr>
            <tr>
                <td>Gids</td>
                <td>Pesquisar</td>
            </tr>
            <tr>
                <td>Uids</td>
                <td>Pesquisar</td>
            </tr>
            </tbody>
            <tr>
                <th scope="col">Memória</th>
                <td> VMS: {{ process.memory.vms }} MB</td>
                <td> RSS: {{ process.memory.rss }} MB</td>
            </tr>
            <tr>
                <th scope="col">Terminal</th>
                <td>None</td>
            </tr>
            <tr>
                <th scope="col">Status</th>
                <td>{{ process.status }}</td>
            </tr>
        </table>

    </div>



{% endblock %}