{% extends 'app/base.html' %}

{% block content %}
    <!--- Inicio Content --->
    <div class="container-fluid" id="info-panel">
        <h2>Overview</h2>
        <hr class="section-sep">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="col">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="row">CPU</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Load average</th>
                                <td>{{ cpu.load_average }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Cores</th>
                                <td>{{ cpu.cores }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Threads</th>
                                <td>{{ cpu.threads }}</td>
                            </tr>
                            <tr>
                                <th scope="row">CPU Freq</th>
                                <td>{{ cpu.current_freq.current }} GHz</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="row">Memoria</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Total</th>
                            <td>{{ memory.total }} MB</td>
                        </tr>
                        <tr>
                            <th scope="row">Livre</th>
                            <td>{{ memory.available }} MB</td>
                        </tr>
                        <tr>
                            <th scope="row">Em uso</th>
                            <td>{{ memory.used }} MB {{ memory.percent_used }}%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="row">Rede</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Loopback</th>
                            <td>{{ network.status }} </td>
                        </tr>
                        <tr>
                            <th scope="row">Ethernet</th>
                            <td>{{ network.status }} </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="row">Discos</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Ponto de montagem</th>
                            <td>{{ disk.mountpoint }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Filesystem</th>
                            <td>{{ disk.fstype }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="row">Swap</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Total</th>
                            <td>{{ swap.total }} MB</td>
                        </tr>
                        <tr>
                            <th scope="row">Usado</th>
                            <td>{{ swap.used }} MB</td>
                        </tr>
                        <tr>
                            <th scope="row">Livre</th>
                            <td>{{ swap.free }} MB</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="row">Usuários</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Usuário</th>
                            <td>{{ users.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Terminal</th>
                            <td>{{ users.terminal }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!--- Fim Content --->
    {#            </div>#}
    {#            </div>#}


{% endblock %}
