{% extends 'app/index.html' %}


{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">PID</th>
        <th scope="col">Name</th>
        <th scope="col">User</th>
        <th scope="col">Status</th>
        <th scope="col">Memory</th>
        <th scope="col">VMS</th>
        <th scope="col">RSS</th>
        <th scope="col">CPU</th>

    </tr>
    </thead>
    <tbody>
    {% for process in processes %}
        <tr>
            <td>{{ process.info.pid }}</td>
            <td><a href="#"></a>{{ process.info.name }}</td>
            <td>{{ process.info.username }}</td>
            <td>{{ process.info.status }}</td>
            <td>{{ process.info.memory_percent }}</td>
            <td>{{ process.info.memory_info.vms }}</td>
            <td>{{ process.info.memory_info.rss }}</td>
            <td>{{ process.info.cpu_percent }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}