/*Linha principal (row)*/
#main-row {
    display: flex;
    background: #2c384b;
    width: auto;
    height: 800px;
}

a.process {
    text-decoration: none;
    font-weight: 500;
    color: #3d729c;
}

h3.process {
    color: #3d729c;
    margin-top: 10px;
    size: 0.8rem;
}
#nav-sidebar {
    position: relative;
    display: inline-flex;
    background: #2c384b;
    text-decoration: none;
    color: black;
    width: auto;
}

a.nav-link {
    text-decoration: gray;
    color: gray;
}

span.icon {
    display: inline-flex;
    align-items: center;
    color: gray;

}

#info-panel {
    display: block;
    /*border: dimgrey 2px solid;*/
    /*border-radius: 15px;*/
    margin: 10px;
}

div#main-content.col {
    display: flex;
    padding: 10px;
    background: #dddde9;
}

#info-panel > h2 {
    color: #3d729c;
}

/*Footer*/
footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #2c384b;
    color: gray;
    justify-content: center;
    padding: 20px;
}

footer > p > a {
    bottom: 0;
    text-decoration: none;
    color: gray;
}

/*Final Footer*/

/*Pagination*/
div.pagination {
    display: block;
    text-align: center;
}

span.step-links {
    /*align-self: center;*/
}

span.current {
    color: #3d729c;
}

span.step-links > a {
    text-decoration: none;
    color: #3d729c;
}

#pagination-row {
    text-align: center;
}

/*Final pagination*/


/*Table*/

#display-tables {
    background: white;
    border: darkgray 1px solid;
    margin: 15px;

}

table.table {
    color: #3d729c;
    font-size: 1rem;
}

#tables-row {
    display: flex;
}

.table-header {
    font-size: 1rem;
    font-weight: 600;
    color: #3d729c;
}

.table-info {
    font-size: 0.8rem;
    font-weight: 500;
     color: #3d729c;
}

.table-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #3d729c;
    padding-top: 10px;
}
