/*Linha principal (row)*/
#main-row{
    display: flex;
    background: #2c384b;
    width: auto;
    height: 800px;
}

a.process {
    text-decoration: none;
    color: #2c384b;
}

#nav-sidebar {
    position: relative;
    display: inline-flex;
    background: #2c384b;
    text-decoration: none;
    color: black;
    width: auto;
}

a.nav-link {
    text-decoration: gray;
    color: gray;
}

span.icon {
    display: inline-flex;
    align-items: center;
    color: gray;

}

#info-panel {
    border: #2c384b 2px solid;
    border-radius: 20px;
    background: whitesmoke;
    margin: 10px;
    padding: 5px;
}

div#main-content.col{
    padding: 20px;
    background: slategray;
    /*height: auto;*/
}

#info-panel>h2{
    color: #2c384b;
}

/*Footer*/
footer{
    display: flex;
    bottom: 0;
    background: #2c384b;
    color: gray;
    justify-content: center;
    padding: 15px;
}

footer>p>a {
    text-decoration: none;
    color: gray;
}
/*Final Footer*/

/*Pagination*/
div.pagination{
    display: flex;
    width: 100%;
    text-align: center;
}

span.step-links {
    /*align-self: center;*/
}

span.current {
    color: #2c384b;
}

span.step-links>a{
    text-decoration: none;
    color: #2c384b;
}

#pagination-row{
    text-align: center;
}
/*Final pagination*/