/*Linha principal (row)*/
#main-row {
    display: flex;
    background: #2c384b;
    width: auto;
    height: 800px;
}

a.process {
    text-decoration: none;
    color: #2c384b;
}

h3.process {
    color: #2c384b;
    margin-top: 10px;
    size: 0.8rem;
}
#nav-sidebar {
    position: relative;
    display: inline-flex;
    background: #2c384b;
    text-decoration: none;
    color: black;
    width: auto;
}

a.nav-link {
    text-decoration: gray;
    color: gray;
}

span.icon {
    display: inline-flex;
    align-items: center;
    color: gray;

}

#info-panel {
    display: block;
    border: dimgrey 2px solid;
    border-radius: 15px;
    margin: 10px;
}

div#main-content.col {
    display: flex;
    padding: 10px;
    /*background: #dddde9;*/
    background: white;
}

#info-panel > h2 {
    color: #2c384b;
}

/*Footer*/
footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #2c384b;
    color: gray;
    justify-content: center;
    padding: 20px;
}

footer > p > a {
    bottom: 0;
    text-decoration: none;
    color: gray;
}

/*Final Footer*/

/*Pagination*/
div.pagination {
    display: block;
    text-align: center;
}

span.step-links {
    /*align-self: center;*/
}

span.current {
    color: #2c384b;
}

span.step-links > a {
    text-decoration: none;
    color: #2c384b;
}

#pagination-row {
    text-align: center;
}

/*Final pagination*/

#display-tables {
    position: relative;
    background: white;
    border: darkgray 1px solid;
    margin: 15px;

}

table.table {
    color: #2c384b;
}
